<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


{#    <script type="text/javascript" charset="utf-8" src="/DjangoUeditor/static/ueditor/ueditor.config.js"></script>#}
{#    <script type="text/javascript" charset="utf-8" src="/DjangoUeditor/static/ueditor/ueditor.all.js"></script>#}
{#     <script type="text/javascript" charset="utf-8" src="/DjangoUeditor/static/ueditor/ueditor.parse.js"></script>#}
{##}
{#    <link rel="stylesheet" type="text/css" href="/DjangoUeditor/static/ueditor/themes/default/css/ueditor.css"/>   #}
</head>
<body>


 
{% autoescape off %}
{{ form.content }}
{% endautoescape %}

{#<textarea id="content" name="content" style="width:575px;line-height:18px;"></textarea>#}
{##}
{#<script>#}
{#    var ue=new UE.ui.Editor();#}
{#    ue.render('content');#}
{#</script>#}

</body>
</html>